/*Variables*/
:root {
  --black-basic: #000000;
  --white-basic: #ffffff;
  --grey-basic: #333333;
  --lightgrey-basic: #f2f2f2;
  --blue-basic: #81b3d2;
  --brown-basic: #766357;

  --white-transparent: rgba(255, 255, 255, 0.3);
  --page-shadow: rgba(0, 1, 1, 0.2);
  --modal-shadow: rgba(0, 1, 1, 0.15);
  --nav-active: #766357;

  --grey-range: #ababab;
  --grey-checkbox: #6a6a6a;
  --grey-arrow: #cacaca;
  --grey-sign: #a9a9a9;
  --grey-mark: #666666;

  --lightgrey-modal-focus: #ebebeb;
  --lightgrey-modal-active: #e5e5e5;

  --blue-btn-focus: #669ec0;
  --blue-btn-active: #5496bd;

  --brown-button-focus: #604e43;
  --brown-button-active: #503e33;

  --lightgrey-logo: #bdbbbc;
}

/* Global */
@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black-basic);
  background-color: var(--lightgrey-basic);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Container*/
.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/*Button*/
.button {
  display: block;
  text-align: center;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  color: var(--white-basic);
  background-color: var(--brown-basic);
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: var(--brown-button-focus);
}

.button:active {
  background-color: var(--brown-button-active);
  color: var(--white-transparent);
}

/*Btn*/
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--white-basic);
  background-color: var(--blue-basic);
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-color: var(--blue-btn-focus);
}

.btn:active {
  background-color: var(--blue-btn-active);
  color: var(--white-transparent);
}

/*Header*/
.main-header {
  background-color: var(--white-basic);
}

.main-nav {
  position: relative;
  min-height: 70px;
  padding: 0 73px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 70px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item a {
  color: var(--nav-active);
  line-height: 26px;
  font-weight: 700;
}

.nav-item a[href] {
  color: inherit;
}

.nav-item a[href]:hover,
.nav-item a[href]:focus {
  color: var(--blue-basic);
}

.nav-item a[href]:active {
  color: var(--black-basic);
  opacity: 0.3;
}

/*page-footer*/
.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: var(--white-basic);
}

.contacts {
  margin: 0;
  padding-left: 73px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.contacts-phone {
  color: inherit;
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  justify-self: center;
  list-style: none;
}

.social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--blue-basic);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--blue-btn-focus);
}

.social-link:active {
  background-color: var(--blue-btn-active);
}

.twitter::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.twitter:active::before {
  opacity: 0.3;
}

.facebook::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 18px;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.facebook:active::before {
  opacity: 0.3;
}

.youtube::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 14px;
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}

.youtube:active::before {
  opacity: 0.3;
}

.copyright {
  margin: 0;
  padding-right: 73px;
  text-align: center;
}

.copyright b {
  line-height: 26px;
}

.copyright-link:focus path,
.copyright-link:hover path {
  fill: var(--blue-basic);
}

.copyright-link:active path {
  fill: var(--lightgrey-logo);
}

/*Modal*/
.modal {
  background-color: var(--white-basic);
  box-shadow: 0px 7px 15px var(--modal-shadow);
}

.parameters-group {
  padding: 0;
  border: none;
}

.parameters-item {
  margin: 0;
}

.parameters-label {
  display: block;
  line-height: 26px;
  font-weight: bold;
}

.parameters-input {
  font-size: inherit;
  text-transform: inherit;
  line-height: 26px;
  font-weight: bold;
  border: none;
  background-color: var(--lightgrey-basic);
}

.parameters-input:hover {
  background-color: var(--lightgrey-modal-focus);
}

.parameters-input:focus {
  border: 2px solid var(--lightgrey-modal-active);
  background-color: transparent;
  outline: none;
}

.calendar {
  cursor: pointer;
}

.calendar:focus path,
.calendar:hover path {
  fill: var(--black-basic);
}

.calendar:active path {
  fill: var(--blue-basic);
}

.minus {
  cursor: pointer;
}

.minus:focus path,
.minus:hover path {
  fill: var(--black-basic);
}

.minus:active path {
  fill: var(--blue-basic);
}

.plus {
  cursor: pointer;
}

.plus:focus path,
.plus:hover path {
  fill: var(--black-basic);
}

.plus:active path {
  fill: var(--blue-basic);
}

/*Promo*/
.promo {
  background-color: var(--white-basic);
}

.promo-photo {
  background-color: var(--blue-btn-focus);
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.slogan-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.slogan-text {
  margin: 0;
  line-height: 26px;
  text-align: center;
}

/*Advantages*/
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  background-color: var(--blue-basic);
}

.advantages-item-first .advantages-description {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.advantages-item-first .advantages-photo {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.advantages-item-second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: var(--blue-basic);
}

.advantages-item-second .advantages-description {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.advantages-item-second .advantages-photo {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.advantages-title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.advantages-title-white {
  color: var(--white-basic);
}

.advantages-text {
  margin: 0;
  text-align: center;
}

.advantages-text-white {
  color: var(--white-basic);
}

.expenses-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  list-style: none;
  background-color: var(--white-basic);
}

.expenses-title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.expenses-text {
  margin: 0;
  text-align: center;
}

/*Search*/
.search {
  background-color: var(--white-basic);
}

.search-title {
  margin: 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.search-text {
  margin: 0;
  line-height: 24px;
  text-align: center;
}

.button-search {
  margin: 0 auto;
}

/*-------------------HOTELS-----------------*/

/*Filters*/
.filters {
  padding: 0 73px;
  background-color: var(--blue-btn-focus);
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-form {
  display: grid;
  grid-template-columns: 253px 253px 1fr;
  grid-template-rows: auto;
  align-content: start;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--white-basic);
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__label {
  display: block;
  color: var(--white-basic);
  cursor: pointer;
}

.filter-range {
  margin: 0;
  padding: 0;
  justify-self: end;
  border: none;
}

.filter-range-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--white-basic);
}

.min-price {
  color: var(--white-basic);
}

.max-price {
  color: var(--white-basic);
}

.btn-filter {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 2px solid var(--white-basic);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--white-basic);
  background-color: transparent;
  cursor: pointer;
}

.btn-filter:focus,
.btn-filter:hover {
  color: var(--black-basic);
  background-color: var(--white-basic);
}

/*Sort*/
.sort {
  display: grid;
  grid-template-columns: 164px 1fr min-content;
  grid-template-rows: auto;
  padding: 0 73px;
  background-color: var(--white-basic);
}

.sort-text {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-title {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--black-basic);
  opacity: 0.3;
  border-bottom: 1px dashed var(--blue-basic);
}

.sort-item a:hover {
  color: var(--blue-basic);
  opacity: 1;
  border-bottom: 1px dashed var(--blue-basic);
}

.sort-item a:focus {
  color: var(--blue-basic);
  opacity: 1;
  border-bottom: none;
}

.sort-item a:active {
  color: var(--black-basic);
  opacity: 1;
  border-bottom: none;
}

/*Offers*/
.offers {
  padding: 0 73px;
  background-color: var(--white-basic);
}

.offers-item {
  display: grid;
  grid-template-columns: 164px 1fr min-content;
  grid-template-rows: auto;
}

.offer-link {
  display: inline-block;
  color: var(--black-basic);
}

.offer-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.offer-text {
  margin: 0;
}

.offer-price {
  margin: 0;
}

.offer-mark {
  margin: 0;
  width: 110px;
  height: 27px;
  color: var(--grey-mark);
  background-color: var(--lightgrey-basic);
  text-align: center;
}
